<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Insurance  Management System</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" th:href="@{/}">Insurance Management System</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Home Page</a>

            </li>

            <li class="active">
                <a class="nav-link" th:href="@{/clients}">Client Details</a>
</li>
            <li class="active">
                <a class="nav-link" th:href="@{/vehicles}">Vehicle Details</a>
        </li>
            <li class="active">
                <a class="nav-link" th:href="@{/policys}">Insurance plan types</a>
            </li>


        </ul>
    </div>
</nav>
<br>
<br>
<div class="container">

    <br>
    <div class="row">
        <h3>All things are fine with Insurance!</h3>
    </div>

<br>
<br/>
<br/>

</div>
<div>

    <img src="../static/aa.jpg" style="align:center" height="450" width="1500" th:src="@{/aa.jpg}"/>
</div>
</body>

</html>