<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insurance Management System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" th:href="@{/}">Insurance Management System</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Home Page</a>

            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/clients}">Client Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/vehicles}">Vehicle Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/policys}">Insurance plan types</a>
            </li>
        </ul>
    </div>
</nav>
<br/>
<br/>
<div class="container">
    <div class="row">
        <h1>View Vehicle Details</h1>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <a th:href="@{/vehicles/new}" class="btn btn-primary btn-sm mb-3">Add New Vehicle</a>
        </div>
    </div>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>Vehicle ID</th>
            <th>Vehicle Model</th>
            <th>Vehicle Registered State</th>
            <th>Client ID</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="vehicle: ${vehicles}">
            <td th:text="${vehicle.id}"></td>
            <td th:text="${vehicle.vehicleModel}"></td>
            <td th:text="${vehicle.vehicleRegisteredState}"></td>
            <td th:text="${vehicle.clientID}"></td>
            <td>
                <a th:href="@{/vehicles/edit/{id}(id=${vehicle.id})}"
                   class="btn btn-primary">Update</a>
                <a th:href="@{/vehicles/{id}(id=${vehicle.id})}"
                   class="btn btn-warning">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>